body {
  background: $bege-claro;
  border: rem(10) solid $bege-medio;
  color: $cinza;
  @include device(small) {
    border: none;
  }
}

img {
  display: block;
  max-width: 100%;
}

p {
  @include tipo-1(18);
}

.titulo {
  @include tipo-1(18);
  text-transform: uppercase;
  @include device(small) {
    margin-bottom: rem(40);
  }
  &::after {
    content: '';
    display: block;
    background: $cinza;
    width: 75%;
    float: right;
    height: rem(2);
    margin-top: rem(8);
    @include device(medium) {
      width: 60%;
    }
  }
}